POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password
POSTGRES_DB=ezgi_mobilya_db
ASPNETCORE_ENVIRONMENT=Production

SITE_CONTACT_INSTAGRAM_URL=
SITE_CONTACT_INSTAGRAM_LABEL=
SITE_CONTACT_WHATSAPP_URL=
SITE_CONTACT_WHATSAPP_LABEL=
SITE_CONTACT_EMAIL=contact@ezgicraft.com
SITE_CONTACT_ADDRESS_LABEL=

# SOCIAL MEDIA METAS (AUTOMATIC POSTING KEYS)
SOCIALMEDIA_INSTAGRAM_ACCESSTOKEN=
SOCIALMEDIA_INSTAGRAM_BUSINESSACCOUNTID=
SOCIALMEDIA_FACEBOOK_PAGEID=
SOCIALMEDIA_FACEBOOK_ACCESSTOKEN=
